body {
	background-image: url(background.jpeg);
	background-size: cover;
	display: flex;
	justify-content: center; 
	align-items: center; 
	height: 100vh; 
	margin: 0; 
}

iframe{
<<<<<<< HEAD
=======
	width: 60vw;
	height: 40vh;
>>>>>>> a8ef98d (Initial commit)
	border: none;
	background-color: transparent;
	}